{% import "error_macro.html" as error_macro %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/text_break.css"/>

        <!-- Should use downloaded libs instead of CDNs, temporary solution -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <script src="../static/js/semantic_rating_init.js"></script>
    </head>

    <body>
        <div class="ui container">
			<div class="ui stackable menu">
				<a class="item" href="{{ url_for('index') }}">{{ _('Main page') }}</a>
				{% if current_user.is_authenticated %}
					<a class="item" href="{{ url_for('profile', username=current_user.username) }}">{{ _('Profile') }}</a>
					<a class="item" href="{{ url_for('signout', next=request.path) }}">{{ _('Log out') }}</a>
				{% else %}
					<a class="item" href="{{ url_for('signin', next=request.path) }}">{{ _('Sign in') }}</a>
					<a class="item" href="{{ url_for('signup', next=request.path) }}">{{ _('Register') }}</a>
				{% endif %}
                
                <div class="right menu">
                    <a class="item" href="{{ url_for('change_locale', lang='ru', next=request.path) }}"><i class="ru flag" style="margin-right: 0;"></i></a>
                    <a class="item" href="{{ url_for('change_locale', lang='en', next=request.path) }}"><i class="gb flag" style="margin-right: 0;"></i></a>
                </div>
			</div>

			{% with flashes = get_flashed_messages() %}
				{% if flashes %}
					<div class="ui info message">
						<div class="header">
							{% if flashes|length > 1 %}
								{{ _('New notifications') }}
							{% else %}
								{{ _('New notification') }}
							{% endif %}
						</div>
						<ul class="list">
							{% for f in flashes %}
								<li>{{ f }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endwith %}

			{% block content %}{% endblock %}
		</div>
    </body>
</html>
