{% import "error_macro.html" as error_macro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        <title>{{ title }}</title>

        <!-- JQuery CDN -->
        <script
		    src="http://code.jquery.com/jquery-3.3.1.min.js"
		    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		    crossorigin="anonymous"></script>

        <!-- Popper.js CDN -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

        <!-- Bootstrap CDN/Initialization -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

        <!-- Flag Icon CSS initialization -->
        <link rel="stylesheet" href="../static/css/flag-icon-css-3.1.0/css/flag-icon.min.css">

        <!-- JS variable/function initialization -->
        {% block init %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}">Proectos</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('index') }}">
                                {{ _('Main page') }}</a>
                        </li>
                        {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('profile', username=current_user.username) }}">
                                    {{ _('Profile') }}</a>
                            </li>
                            <li>
                                <a
                                    class="nav-link"
                                    href="{{ url_for('signout', next=request.path) }}">
                                    {{ _('Log out') }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('signin', next=request.path) }}">
                                    {{ _('Sign in') }}</a>
                            </li>
                            <li>
                                <a
                                    class="nav-link"
                                    href="{{ url_for('signup', next=request.path) }}">
                                    {{ _('Register') }}</a>
                            </li>
                        {% endif %}
                    </ul>

                    <a
                        class="btn btn-primary"
                        style="background: transparent;"
                        href="{{ url_for('change_locale', lang='ru', next=request.path) }}">
                        <span class="flag-icon flag-icon-ru"></span>
                    </a>

                    <a
                        class="btn btn-primary"
                        style="background: transparent;"
                        href="{{ url_for('change_locale', lang='en', next=request.path) }}">
                        <span class="flag-icon flag-icon-gb"></span>
                    </a>
                </div>
            </div>
        </nav>

        <div class="container" style="padding-top: 20px;">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
