{% import "error_macro.html" as error_macro %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

        <!-- Should use downloaded libs instead of CDNs, temporary solution -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <script src="../static/js/semantic_rating_init.js"></script>
    </head>

    <body>
        <div class="ui container">
			<div class="ui stackable menu">
				<a class="item" href="{{ url_for('index') }}">Главная страница</a>
				{% if current_user.is_authenticated %}
					<a class="item" href="{{ url_for('profile', username=current_user.username) }}">Профиль</a>
					<a class="item" href="{{ url_for('signout') }}">Выйти</a>
				{% else %}
					<a class="item" href="{{ url_for('signin') }}">Войти</a>
					<a class="item" href="{{ url_for('signup') }}">Зарегистрироваться</a>
				{% endif %}
			</div>

			{% with flashes = get_flashed_messages() %}
				{% if flashes %}
					<div class="ui info message">
						<div class="header">
							{% if flashes|length > 1 %}
								Новые уведомления
							{% else %}
								Новое уведомление
							{% endif %}
						</div>
						<ul class="list">
							{% for f in flashes %}
								<li>{{ f }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endwith %}

			{% block content %}{% endblock %}
		</div>
    </body>
</html>
