<div class="card my-3">
    <div class="card-body">
        <h3 class="card-title">{{ _('Organisation sorting') }}</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ _('Sorting type') }}</label>
                    <select id="sort_type_dropdown" class="custom-select">
                        <option value="location" selected>{{ _('Location') }}</option>
                        <option value="rating">{{ _('Rating') }}</option>
                        <option value="alphabet">{{ _('Alphabet') }}</option>
                        <option value="date">{{ _('Date Added') }}</option>
                    </select>
                </div>
            </div>

            <div id="distance_div" class="col-md-4">
                <label>{{ _('Maximum distance') }}</label>
                <div class="input-group">
                    <input id="distance_input" class="form-control" type="number" value="0" min="0" max="50000" step="1">
                    <div class="input-group-append">
                        <span class="input-group-text">{{ _('m') }}</span>
                    </div>
                </div>
            </div>

            <div id="rating_div" class="col-md-4">
                <label>{{ _('Minimum rating') }}</label>
                <br>
                <input
                    id="rating_input"
                    type="hidden"
                    class="rating"
                    value="0"
                    data-filled="fa fa-2x fa-star checked"
                    data-empty="fa fa-2x fa-star">
            </div>
        </div>
        <div class="form-check">
            <input id="reverse_checkbox" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="reverse_checkbox">{{ _('Reverse order') }}</label>
        </div>
        <button id="sort_apply_button" type="button" class="btn btn-primary mt-3">{{ _('Apply') }}</button>
    </div>
</div>

<nav>
    <ul id="pagination_ul" class="pagination">
    </ul>
</nav>

<div class="dimmer_wrapper">
    <div class="dimmer"></div>
    <div id="businesses_div">
    </div>
</div>
