{% block translations %}
<script>
    let please_allow_geolocation = "{{ _('Please allow geolocation on this website.') }}";
    let user_location_unavailable = "{{ _('User location is unavailable. Please try again later.') }}";
    let timed_out_geolocation = "{{ _('Timed out on a geolocation request. Please try again later.') }}";
    let unknown_geolocation_error = "{{ _('Unknown geolocation error. Please try again later.') }}";
    let browser_no_geolocation = "{{ _('Your browser does not support geolocation. Please update it or use a different browser.') }}";
    let no_geolocation_data = "{{ _('There is no geolocation data available yet. Try again in a moment.') }}";

    let unknown_error = "{{ _('Unknown error. Please try again later.') }}";
    let invalid_server_data = "{{ _('Got invalid data from the server.') }}";
    let page_out_of_range = "{{ _('Page is out of range.') }}";
    let timed_out_request = "{{ _('Timed out on your request. Please try again later.') }}";
    let failed_data_fetch = "{{ _('Failed to fetch data from the server. Please try again later.') }}";
    let invalid_sort_type = "{{ _('Invalid sort type.') }}";
    let invalid_checkbox_value = "{{ _('Invalid reverse checkbox value.') }}";
    let invalid_max_dist_value = "{{ _('Invalid maximum distance value.') }}";
    let invalid_min_rating_value = "{{ _('Invalid minumum rating value.') }}";
    let invalid_page = "{{ _('Invalid page.') }}";
</script>
{% endblock %}

<div class="card my-3">
    <div class="card-body">
        <h3 class="card-title">{{ _('Organisation sorting') }}</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ _('Sorting type') }}</label>
                    <select id="sort_type_dropdown" class="custom-select">
                        <option value="location" selected>{{ _('Location') }}</option>
                        <option value="rating">{{ _('Rating') }}</option>
                        <option value="alphabet">{{ _('Alphabet') }}</option>
                        <option value="date">{{ _('Date Added') }}</option>
                    </select>
                </div>
            </div>

            <div id="distance_div" class="col-md-4">
                <label>{{ _('Maximum distance') }}</label>
                <div class="input-group">
                    <input id="distance_input" class="form-control" type="number" value="0" min="0" max="50000" step="1">
                    <div class="input-group-append">
                        <span class="input-group-text">{{ _('m') }}</span>
                    </div>
                </div>
            </div>

            <div id="rating_div" class="col-md-4">
                <label>{{ _('Minimum rating') }}</label>
                <br>
                <input
                    id="rating_input"
                    type="hidden"
                    class="rating"
                    value="0"
                    data-filled="fa fa-2x fa-star checked"
                    data-empty="fa fa-2x fa-star">
            </div>
        </div>
        <div class="form-check">
            <input id="reverse_checkbox" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="reverse_checkbox">{{ _('Reverse order') }}</label>
        </div>
        <button id="sort_apply_button" type="button" class="btn btn-primary mt-3">{{ _('Apply') }}</button>
    </div>
</div>

<nav>
    <ul id="pagination_ul" class="pagination">
    </ul>
</nav>

<div id="businesses_div">
</div>
