{% extends "base.html" %}

{% block content %}
<h1>{{ business.name }}</h1>
<p>
    <strong>Адрес:</strong><br>
    {{ business.address | nl2br }}
</p>
<p>
    <strong>Время работы:</strong><br>
    {{ business.time | nl2br }}
</p>
<p>
    <strong>Контакты:</strong><br>
    {{ business.contacts | nl2br }}
</p>
<p>
    <strong>Услуги:</strong><br>
    {% for service in business.services %}
        {{ service.name }}&nbsp;
    {% endfor %}
</p>
<p>
    <strong>Оценка:</strong><br>
    {{ business.rating }}
</p>
<p>
    <strong>Описание:</strong><br>
    {{ business.desc }}
</p>
{% if has_not_commented %}
    <form method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.rating.label }}<br>
            {{ form.rating() }}
            {{ error_macro.print_errors(form.rating) }}
        </p>
        <p>
            {{ form.comment.label }}<br>
            {{ form.comment() }}
            {{ error_macro.print_errors(form.comment) }}
        </p>

        {{ form.submit() }}
    </form>
{% elif current_user.is_authenticated %} {# Authenticated user has already commented on this business #}
    <p>
        Ваш комментарий был учтен!
    </p>
{% else %}
    <p>
        <a href="{{ url_for('signin') }}">Войдите</a> или <a href="{{ url_for('signup') }}">зарегистрируйтесь</a> для того чтобы оставить комментарий!
    </p>
{% endif %}
{% endblock %}