{% extends "base.html" %}

{% block content %}
<h1>{{ business.name }}</h1>
<img src="{{ url_for('uploads', filename=business.image.filename) }}"/>
<p>
    <strong>Адрес:</strong><br>
    {{ business.address | nl2br }}
</p>
<p>
    <strong>Время работы:</strong><br>
    {{ business.time | nl2br }}
</p>
<p>
    <strong>Контакты:</strong><br>
    {{ business.contacts | nl2br }}
</p>
<p>
    <strong>Теги:</strong><br>
    {% for tag in business.tags %}
        <a href="{{ url_for('tag_list_page', tag_name=tag.name, page=1) }}">{{ tag.name }}</a>&nbsp;
    {% endfor %}
</p>
<p>
    <strong>Оценка:</strong><br>
    {{ business.rating }}
</p>
<p>
    <strong>Описание:</strong><br>
    {{ business.desc | nl2br }}
</p>
{% if has_not_commented %}
    <form class="ui form" method="post">
        {{ form.hidden_tag() }}

        <div class="field">
            {{ form.rating.label }}
            {{ form.rating() }}
            {{ error_macro.print_errors(form.rating) }}
        </div>
        <div class="field">
            {{ form.comment.label }}
            {{ form.comment() }}
            {{ error_macro.print_errors(form.comment) }}
        </div>

        {{ form.submit(class_="ui button") }}
    </form>
{% elif current_user.is_authenticated %} {# Authenticated user has already commented on this business #}
    <p>
        Ваш комментарий был учтен!
    </p>
{% else %}
    <p>
        <a href="{{ url_for('signin') }}">Войдите</a> или <a href="{{ url_for('signup') }}">зарегистрируйтесь</a> для того чтобы оставить комментарий!
    </p>
{% endif %}

{% for comment in business.comments %}
    <hr>
    <p>
        <strong><h3>{{ comment.author.username }}</h3></strong>
        <i>Оценка: {{ comment.rating }}</i>
        {{ comment.text | nl2br }}
    </p>
{% endfor %}
{% endblock %}
