{% extends "base.html" %}

{% block init %}
<!-- Initialization -->
<link rel="stylesheet" href="../static/css/image.css">
<link rel="stylesheet" href="../static/css/circular.css">
{% endblock %}

{% block content %}
<h1 class="mb-3">{{ _('Change profile settings') }}</h1>

<form enctype="multipart/form-data" method="post">
    {{ pictureform.hidden_tag() }}

    <div class="row">
        <div class="col-md-6 mb-3">
            <img
                src="{{ url_for('uploads', filename=user.image.filename) if user.image is not none else '../static/images/default.png' }}"
                class="circular img-fluid large mx-auto d-block"/>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {{ pictureform.picture(class_="form-control") }}
                {{ error_macro.print_errors(pictureform.picture) }}
            </div>

            {{ pictureform.picture_update_submit(class_="btn btn-primary") }}
        </div>
    </div>
</form>

<hr>

<form method="post">
    {{ userform.hidden_tag() }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ userform.email.label }}
                {{ userform.email(class_="form-control") }}
                {{ error_macro.print_errors(userform.email) }}
            </div>

            <div class="form-group">
                {{ userform.username.label }}
                {{ userform.username(class_="form-control") }}
                {{ error_macro.print_errors(userform.username) }}
            </div>

            <div class="form-group">
                {{ userform.password.label }}
                {{ userform.password(class_="form-control") }}
                {{ error_macro.print_errors(userform.password) }}
            </div>

            <div class="form-group">
                {{ userform.repeat_password.label }}
                {{ userform.repeat_password(class_="form-control") }}
                {{ error_macro.print_errors(userform.repeat_password) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {{ userform.current_password.label }}
                {{ userform.current_password(class_="form-control") }}
                {{ error_macro.print_errors(userform.current_password) }}
            </div>
        </div>
    </div>

    {{ userform.user_update_submit(class_="btn btn-primary") }}
</form>

<hr>

<form method="post">
    {{ profileform.hidden_tag() }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ profileform.about.label }}
                {{ profileform.about(class_="form-control") }}
                {{ error_macro.print_errors(profileform.about) }}
            </div>

            <div class="form-group">
                {{ profileform.contacts.label }}
                {{ profileform.contacts(class_="form-control") }}
                {{ error_macro.print_errors(profileform.contacts) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {{ profileform.current_password.label }}
                {{ profileform.current_password(class_="form-control") }}
                {{ error_macro.print_errors(profileform.current_password) }}
            </div>
        </div>
    </div>

    {{ profileform.profile_update_submit(class_="btn btn-primary") }}
</form>
{% endblock %}
