{% extends "base.html" %}

{% block content %}
<h1>Изменение настроек профиля</h1>
<form method="post">
    {{ userform.hidden_tag() }}

    <p>
        {{ userform.email.label }}<br>
        {{ userform.email() }}
        {% for err in userform.email.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
    </p>

    <p>
        {{ userform.username.label }}<br>
        {{ userform.username() }}
        {% for err in userform.username.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
    </p>

    <p>
        {{ userform.password.label }}<br>
        {{ userform.password() }}
        {% for err in userform.password.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
    </p>

    <p>
        {{ userform.repeat_password.label }}<br>
        {{ userform.repeat_password() }}
        {% for err in userform.repeat_password.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
    </p>

    <p>
        {{ userform.current_password.label }}<br>
        {{ userform.current_password() }}
        {% for err in userform.current_password.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
    </p>

    {{ userform.user_update_submit() }}
</form>

<hr>

<form method="post">
    {{ profileform.hidden_tag() }}

    <p>
        {{ profileform.about.label }}<br>
        {{ profileform.about() }}
        {% for err in profileform.about.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
    </p>

    <p>
        {{ profileform.contacts.label }}<br>
        {{ profileform.contacts() }}
        {% for err in profileform.contacts.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
    </p>

    <p>
        {{ profileform.current_password.label }}<br>
        {{ profileform.current_password() }}
        {% for err in profileform.current_password.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
    </p>

    {{ profileform.profile_update_submit() }}
</form>
{% endblock %}