{% extends "base.html" %}

{% block init %}
<!-- Initialization -->
<script src="../static/js/get_businesses.js"></script>
{% endblock %}

{% block content %}
<h1>{{ _('Welcome!') }}</h1>
<nav>
    <ul class="pagination">
        {% for i in range(1, pages_count + 1) %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page=i) }}">{{ i }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

<div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Sort by</label>
                <select id="sort_by" class="form-control">
                    <option selected>Closest to me</option>
                    <option>Last added</option>
                    <option>First added</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Radius</label>
                <div class="input-group">
                    <input id="radius" class="form-control" type="number" min="1" max="100" value="1"/>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            km
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button id="filter_submit" class="btn btn-primary mb-3">Apply filters</button>
</div>

<ul class="list-group">
    {% for b in businesses %}
        <li class="list-group-item">
            <a href="{{ url_for('business_page', business_link=b.link) }}">{{ b.name }}</a>
            <p>{{ b.address }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
