{% extends "base.html" %}

{% block content %}
<h1> {{ _("%(username)s's profile", username=user.username) }}</h1>

<div class="ui stackable three column grid">
    <div class="ui column">
        <div class="ui medium bordered circular image">
            <img src="{{ url_for('uploads', filename=user.image.filename) if user.image is not none else '../static/images/default.png' }}"/>
        </div>
    </div>

    <div class="ui column">
        <div class="ui segment">
            <h2>{{ _('About me') }}</h2>
            {% if user.about is not none %}
                <p class="user-input">{{ user.about }}</p>
            {% else %}
                <i>{{ _('Nothing here yet...') }}</i>
            {% endif %}
        </div>

        <div class="ui segment">
            <h2>{{ _('Contacts') }}</h2>
            {% if user.contacts is not none %}
                <p class="user-input">{{ user.contacts }}</p>
            {% else %}
                <i>{{ _('Nothing here yet...') }}</i>
            {% endif %}
        </div>
    </div>

    <div class="ui column">
        {% if current_user.username == user.username %}
            <a href="{{ url_for('edit_profile') }}">{{ _('Change profile') }}</a>
        {% endif %}
    </div>
</div>
{% endblock %}
