{% extends "base.html" %}

{% block content %}
<h1>{{ _('Sign in') }}</h1>
<form class="ui bottom-padded form" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
        {{ form.email.label }}
        {{ form.email() }}
        {{ error_macro.print_errors(form.email) }}
    </div>

    <div class="field">
        {{ form.password.label }}
        {{ form.password() }}
        {{ error_macro.print_errors(form.password) }}
    </div>

    <p>
        <a href="{{ url_for('reset_password') }}">{{ _('Forgot password?') }}</a>
    </p>

    <div class="field">
        <div class="ui checkbox">
            {{ form.remember() }} {{ form.remember.label }}
        </div>
    </div>

    {{ form.submit(class_="ui button") }}
</form>
{% endblock %}
