{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
<form class="ui bottom-padded form" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
        {{ form.email.label }}
        {{ form.email() }}
        {{ error_macro.print_errors(form.email) }}
    </div>

    <div class="field">
        {{ form.username.label }}
        {{ form.username() }}
        {{ error_macro.print_errors(form.username) }}
    </div>

    <div class="field">
        {{ form.password.label }}
        {{ form.password() }}
        {{ error_macro.print_errors(form.password) }}
    </div>

    <div class="field">
        {{ form.repeat_password.label }}
        {{ form.repeat_password() }}
        {{ error_macro.print_errors(form.repeat_password) }}
    </div>

    {{ form.submit(class_="ui button") }}
</form>
{% endblock %}