{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
<form method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.email.label }}<br>
        {{ form.email() }}
        {{ error_macro.print_errors(form.email) }}
    </p>

    <p>
        {{ form.username.label }}<br>
        {{ form.username() }}
        {{ error_macro.print_errors(form.username) }}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password() }}
        {{ error_macro.print_errors(form.password) }}
    </p>

    <p>
        {{ form.repeat_password.label }}<br>
        {{ form.repeat_password() }}
        {{ error_macro.print_errors(form.repeat_password) }}
    </p>

    {{ form.submit() }}
</form>
{% endblock %}